<app-navbar></app-navbar>
<section>
  <div class="grid">
    <div class="mt-12 xl:mt-10 space-y-4 sm:space-y-6 px-6 text-left sm:text-left">
      <h1 class="text-2xl md:text-[2.5rem] sm:text-3xl xl:text-3xl text-cyan-950 font-bold leading-tight capitalize sm:pr-8 xl:pr-10 aos-init aos-animate">
        Bienvenid@ {{userName()}}
      </h1>
    </div>
  </div>
  <div class="grid md:grid-cols-3 gap-4 justify-items-center">
    <div class="mt-12 xl:mt-10 space-y-4 sm:space-y-6 px-6 text-center sm:text-left">
      <h2 class="text-xl md:text-xl text-cyan-900 font-semibold">
        Monto actual: {{currentAmount() | currency:'COP':'symbol-narrow':'1.0-0'}}
      </h2>
    </div>

    <div class="mt-2 xl:mt-10 space-y-4 sm:space-y-6 px-6 text-center sm:text-left">
      <h2 class="text-xl md:text-xl text-cyan-900 font-semibold">
        Total disponible: {{currentAmount() - totalInvested() | currency:'COP':'symbol-narrow':'1.0-0'}}
      </h2>
    </div>

    <div class="mt-2 xl:mt-10 space-y-4 sm:space-y-6 px-6 text-center sm:text-left">
      <h2 class="text-xl md:text-xl text-cyan-900 font-semibold">
        Total invertido: {{totalInvested() | currency:'COP':'symbol-narrow':'1.0-0'}}
      </h2>
    </div>
  </div>
</section>