@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-overlay-pane.modal-fund-dialog {
  width: 800px !important;
  height: 400px !important;
  max-width: 95vw !important;
  max-height: 90vh !important;
}